<!DOCTYPE html>
<html>
  <head>
    <title>Liquid Layout</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="header">
      <h1>SMK NEGERI 1 JENANGAN</h1>

      <div id="nav">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Products</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contacs</a></li>
        </ul>
      </div>
    </div>

    <div id="content">
      <div id="feature">
        <h2>Feature</h2>
        <img src="../image/stmj.png" alt="gambar" />
        <p>
          SMKN 1 JENANGAN merupakan salah satu sekolah jenjang SMK berstatus
          Negeri yang berada di wilayah Kec. Jenangan, Kab. Ponorogo, Jawa
          Timur. SMKN 1 JENANGAN didirikan pada tanggal 2 Januari 1966 dengan
          Nomor SK Pendirian 148/DIR-PT/BI/1966 yang berada dalam naungan
          Kementerian Pendidikan dan Kebudayaan. Dalam kegiatan pembelajaran,
          sekolah yang memiliki 254 siswa ini dibimbing oleh 132 guru yang
          profesional di bidangnya. Kepala Sekolah SMKN 1 JENANGAN saat ini
          adalah Sujono. Operator yang bertanggung jawab adalah Muhamad Zulkifli
          Aliantomy. SMKN 1 JENANGAN merupakan salah satu sekolah jenjang SMK di
          wilayah Kab. Ponorogo yang menawarkan pendidikan berkualitas dengan
          terakreditasi A dan sertifikasi ISO 9001:2008. Dengan adanya
          keberadaan SMKN 1 JENANGAN, diharapkan dapat memberikan kontribusi
          dalam mencerdaskan anak bangsa di wilayah Kec. Jenangan, Kab.
          Ponorogo.
        </p>
      </div>

      <div class="article column1">
        <h3>Kontak</h3>
        <p>
          Anda bisa menghubungi SMKN 1 JENANGAN melalui nomor telepon/fax/email
          yang ada di tabel informasi lengkap atau mendatangi langsung SMKN 1
          JENANGAN yang terletak di JL. NIKEN GANDINI PONOROGO NO.98, Setono,
          Kec. Jenangan, Kab. Ponorogo, Jawa Timur.
        </p>
      </div>
      <div class="article column2">
        <h3>Website</h3>
        <p>
          Anda bisa mendapatkan update informasi terbaru terkait dengan kegiatan
          akademik dan non-akademik yang dilaksanakan oleh SMKN 1 JENANGAN
          melalui website resmi SMKN 1 JENANGAN dengan alamat
          www.smkn1jenpo.sch.id.
        </p>
      </div>
      <div class="article column3">
        <h3>Akreditasi</h3>
        <p>
          Sekolah ini telah terakreditasi A dengan Nomor SK Akreditasi
          1214/BAN-SM/SK/2018 pada tanggal 31 Desember 2018. Selain itu, SMKN 1
          JENANGAN juga telah tersertifikasi ISO 9001:2008.
        </p>
      </div>
    </div>
    <div id="footer">
      <p>&copy; Copyright 2021</p>
    </div>
  </body>
</html>
