.box1 {
    height: 100px;
    width: 300px;
    background-color: pink;
}

.box1 p{
    height: 75%;
    width: 75%;
    background-color: palevioletred;
}
.box2 {
    height: 350px;
    width: 400px;
    background-color: rgb(178, 211, 242);
}
.box2 h2 {
    width: 25%;
    background-color: rgb(112, 192, 219);
}
.box2 p{
    width: 90%;
    background-color: rgb(85, 96, 155);
}

/*ukuran minim dan  maksimum dari box*/
td{
    background-color: rgb(205, 141, 220);
}
td.deskripsi{
    min-width: 450px;
    max-width: 500px;
    background-color: purple;
}

/*overflow*/
h2,h3{
    font-family: Arial;
    color: brown;
}

p.satu{
    height:100px;
    width: 200px;
    overflow: hidden;
}
p.dua{
    height:100px;
    width: 200px;
    overflow: scroll;
}