/* color */

/* foreground color */

/* color name */

h1 {
    color: darkcyan;
}

/* hex code */

h2 {
    color: #ee3e80;
}

/* rgb value */

p{
    color: rgb(100,0,255)
}

/* background color */

/* hex code */
body{
    background-color: #efefef;
}

h1 {
    background-color: darkgoldenrod;
}

h2 {
    background-color: darkseagreen;
}

p {
    background-color: rgb(104, 228, 236);
}