<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixed Width</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="header">
        <h1>Logo</h1>

        <div id="nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="content">
        <div id="hightlight">
            <h2>Highlight</h2>
            <img src="LOGO STMJ.jpg" alt="logo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, veritatis sit. Distinctio iste mollitia
                blanditiis ipsum molestias, provident laborum labore vitae nostrum, magni voluptates fugiat quia
                incidunt fuga quasi unde.
                Voluptates rem, ad quisquam id dignissimos tenetur labore accusantium, quaerat ea obcaecati libero iure
                commodi! Dolorum at mollitia voluptas dicta corrupti eos nisi ducimus vitae, impedit tenetur. Explicabo,
                nihil unde!</p>
        </div>

        <div class="artikel column1">
            <h3>Kolom satu</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita dignissimos, perferendis beatae
                laboriosam libero accusamus quas provident earum quo fugit ea placeat iusto aspernatur! Temporibus omnis
                asperiores soluta excepturi vero.</p>
        </div>

        <div class="artikel column2">
            <h3>Kolom dua</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates tenetur culpa excepturi similique?
                Fuga, recusandae beatae. Quia, possimus doloremque blanditiis eaque assumenda, atque adipisci, sit
                asperiores voluptatem culpa nihil earum.</p>
        </div>

        <div class="artikel column3">
            <h3>Kolom tiga</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam ex fuga ea eum, eveniet repellat hic
                labore error dolore nemo cupiditate? Voluptates ducimus quia dolores ad aut, labore distinctio cum?</p>
        </div>

    </div>

    <div id="footer">
        <p>&copy; copyright 2021</p>
    </div>
</body>

</html>