<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liquid Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <h1>Logo</h1>

        <div id="nav">
            <li><a href="">Home</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contacts</a></li>
        </div>
    </div>

    <div id="content">
        <div id="feature">
            <h2>Feature</h2>
            <img src="LOGO_STMJ.png" alt="logo">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis recusandae exercitationem doloremque?
                Minus ipsum aliquid excepturi, totam in at hic accusantium id officia sit quam iste eveniet vero nemo
                odit.
                Iusto molestias repudiandae facilis consequuntur placeat deserunt reiciendis? Cupiditate voluptas,
                reiciendis qui vero nam optio iusto vitae incidunt nobis officia excepturi tempora ullam praesentium
                impedit totam dolorum autem ratione quia.
                Possimus architecto minima quaerat inventore maiores cupiditate maxime quae error aut veritatis,
                eligendi fugiat, repudiandae repellendus tenetur velit adipisci voluptatibus dolorum quisquam minus
                nobis mollitia. Quod numquam amet rem maiores?</p>

        </div>

        <div class="artikel kolom1">
            <h3>kolom 1</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nisi dignissimos sequi numquam
                aspernatur quidem fugiat impedit vero commodi, temporibus at, saepe nam possimus voluptatum inventore
                delectus totam, exercitationem error!</p>
        </div>
        <div class="artikel kolom2">
            <h3>kolom 2</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nisi dignissimos sequi numquam
                aspernatur quidem fugiat impedit vero commodi, temporibus at, saepe nam possimus voluptatum inventore
                delectus totam, exercitationem error!</p>
        </div>
        <div class="artikel kolom3">
            <h3>kolom 3</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nisi dignissimos sequi numquam
                aspernatur quidem fugiat impedit vero commodi, temporibus at, saepe nam possimus voluptatum inventore
                delectus totam, exercitationem error!</p>
        </div>
    </div>

    <div id="footer">
        <p>&copy; Copyright 2021</p>
    </div>

</body>

</html>