body{
    width: 90%;
    margin: 0 auto;
    font-family: Arial;
    box-sizing: border-box;
}

.header{
    text-align: center;
}

#content{
    overflow: auto;
}

#nav,#feature, #footer{
    background-color: burlywood;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
}

.kolom1, .kolom2, .kolom3{
    background-color: burlywood;
    width: 30%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding: 0.66%;
    float: left;
}

.kolom1{
    margin-left: 0px;
}

.kolom3{
    margin-right: 0px;
}

#content h3{
    text-align: center;
}

#feature img{
    width: 30%;
}

li {
    display: inline;
    padding: 5px;
}