*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header */

.header{
    display: flex;
    background-color: rgb(224, 224, 211);
    padding: 10px;
}

.header-logo{
    margin-top: auto;
    margin-bottom: auto;
}

.header-logo img{
    height: 100px;
}

.header-title{
    margin-top: auto;
    margin-bottom: auto;
}

.header-title a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: rgb(15, 39, 76);
}

/* Navbar */

.nav{
    background-color: rgb(15, 85, 35);
    padding: 10px;
    margin-top: 0px;
}

.nav-item{
    display: inline-block;
    margin-left: 20px;
    height: 20px;
}

.nav-item a{
    color: white;
    text-decoration: none;
}

.nav-item a:hover{
    color: cadetblue;
}

/* Konten */

.konten{
    width: 80%;
    margin: auto;
}

.konten h1{
    color: rgb(14, 52, 108);
    font-size: 35px;
}

.konten h2{
    font-size: 22px;
    color: rgb(17, 29, 99);
}

/* tabel */

.tabel{
    border-spacing: 4px;
}

.tabel-header{
    background-color: rgb(238, 238, 208);
}

.tabel-header th{
    padding: 10px;
    text-align: left;
}

.tabel-konten{
    background-color: rgb(124, 208, 208);
}

.tabel-genap{
    background-color: rgb(61, 139, 208);
}

.tabel-konten td{
    padding: 10px;
}

td>img{
    width: 100px;
}


.tabel-konten:hover{
    background-color: rgb(202, 227, 227);
}

/* form */

.form-group{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group label{
    font-size: 20px;
    color: darkcyan;
}

.form-group input{
    display: block;
    margin-top: 10px;
    width: 60%;
}

.form-group textarea{
    display: block;
    margin-top: 10px;
    height: 200px;
    width: 60%;
}

.btn{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight:bold ;
    color: aliceblue;
    background-color: darkgreen;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(15, 6, 6);
}

.btn:active{
    background-color: rgb(223, 165, 174);
}