<!DOCTYPE html>
<html>
  <head>
    <title>Fixed Width</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    <div id="header">
      <h1>SMK NEGERI 1 JENANGAN</h1>

      <div id="nav">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Products</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>

    <div id="content">
      <div id="highlight">
        <h2>STMJ</h2>
        <img src="../image/stmj.png" alt="gambar" />
        <p>
          SMKN 1 JENANGAN merupakan salah satu sekolah jenjang SMK berstatus
          Negeri yang berada di wilayah Kec. Jenangan, Kab. Ponorogo, Jawa
          Timur. SMKN 1 JENANGAN didirikan pada tanggal 2 Januari 1966 dengan
          Nomor SK Pendirian 148/DIR-PT/BI/1966 yang berada dalam naungan
          Kementerian Pendidikan dan Kebudayaan. Dalam kegiatan pembelajaran,
          sekolah yang memiliki 254 siswa ini dibimbing oleh 132 guru yang
          profesional di bidangnya. Kepala Sekolah SMKN 1 JENANGAN saat ini
          adalah Sujono. Operator yang bertanggung jawab adalah Muhamad Zulkifli
          Aliantomy
        </p>
      </div>
      <div class="article column1">
        <h3>Alamat</h3>
        <p>
          Alamat SMKN 1 JENANGAN terletak di JL. NIKEN GANDINI PONOROGO NO.98,
          Setono, Kec. Jenangan, Kab. Ponorogo, Jawa Timur.
        </p>
      </div>
      <div class="article column2">
        <h3>Jurusan</h3>
        <p>Ada 9 jurusan di SMK Negeri 1 Jenangan :</p>
        <ol>
          <li>Rekayasa Perangkat Lunak</li>
          <li>Desain Permodelan dan Informasi Bangunan</li>
          <li>Teknik Konstruksi dan Perumahan</li>
          <li>Teknik Otomasi Industri</li>
          <li>Teknik Elektronika Industri</li>
          <li>Teknik Sepeda Motor</li>
          <li>Teknik Pemesinan</li>
          <li>Teknik Pemanasan, Tata Udara dan Pendinginan</li>
          <li>Teknik Pengelasan</li>
        </ol>
      </div>
      <div class="article column3">
        <h3>Akreditasi dan Sertifikasi SMKN 1 JENANGAN</h3>
        <p>
          Sekolah ini telah terakreditasi A dengan Nomor SK Akreditasi 1214
          /BAN-SM/SK/2018 pada tanggal 31 Desember 2018. Selain itu, SMKN 1
          JENANGAN juga telah tersertifikasi ISO 9001:2008.
        </p>
      </div>
    </div>

    <div id="footer">
      <p>&copy; Copyright 2021</p>
    </div>
  </body>
</html>
