div.box-1 {
    height: 100px;
    width: 300px;
    background-color: rgb(87, 186, 153);
}

.box-1 p{
    height: 75%;
    width: 75%;
    background-color: rgb(230, 82, 82);
}

div.box-2 {
    height: 200px;
    width: 550px;
    background-color: rgb(236, 181, 114);
}

.box-2 h2{
    width: 55%;
    background-color: rgb(132, 196, 233);
}

.box-2 p{
    width: 115%;
    background-color: rgb(103, 146, 247);
}

/* ukuran minimum dan maksimum dari box */

td {
    background-color: rgb(134, 243, 161);
}

td.deskripsi{
    min-width: 450px;
    max-width: 500px;
    background-color: rgb(96, 222, 222);
}

/* overflow */

h2,h3{
    font-family: Arial;
    color: rgb(210, 25, 62);
}

p.satu{
    height: 100px;
    width: 200px;
    overflow: hidden;
}

p.dua{
    height: 100px;
    width: 200px;
    overflow: scroll;
}

/* border, padding, margin */

div.box-4{
    width: fit-content;
    height: fit-content;
    background-color: blue;
    font-size: 30px;

    /* margin */
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;

    /* padding */
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    /* border */
    border: 4px solid black;
}

p.hello b{
    font-family: 'Times New Roman';
    font-weight: bold;
    background-color: rgb(217, 233, 145);
    color: black;
    border: 4px solid papayawhip;
}

p.hello{
    background-color: coral;
    width: fit-content;

    /* padding */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    /* margin */
    margin-top: 0px;
    margin-bottom: 0px;

    /* border */
    border: 4px solid rgb(202, 17, 17);
}